* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

::selection{
    background-color: black;
    color: white;
}

/* header */

.img-logo figure img{
    width: 70px;
    height: auto;
}

.color-barra{
    background-color: white;
}

/* main */ /* index */

main{
    display: grid;
}

main h1{
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
}

main h2{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.tarjeta-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

.div-contenedor{
    display: grid;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.tarjeta-div{
    display: grid;
    justify-items: center; 
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px;
}

.tarjeta-div:hover{
    background-color: black;
    color: white;
}

.tarjeta-div a:hover{
    color: white;
}

.tarjeta-div img{
    width: 350px;
    height: auto;
    border-radius: 20px;
}

/* footer */

footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 35px;
}

.div-familia{
    text-align: center;
}

.div-menu-redes{
    display: flex;
    padding: 20px;
    justify-content: left;
    gap: 40px;
}

.div-menu-redes h3{
    text-align: center;
}

.div-menu{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.section-redes{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.div-menu:hover{
    background-color: white;
    color: black;
}

.section-redes:hover{
    background-color: white;
    color: black;
}

::marker{
    content: none;
}
